### 1: Python Data Types

Data types determine the type of value a variable can hold and the operations that can be performed on it. They define the format, structure, size, range, and behavior of data, controlling how it's stored and used in a program. This helps ensure data is used correctly and efficiently.

In [73]:
from IPython.display import Image

# Display an image from your local directory
Image(filename='download.webp')

### Mutable vs Immutable Data type in python

**Mutable Data Type**

* List
* Dict
* Set
* Bytearray

**Immutable Data Types**

* Int
* Float
* Bool
* Str
* Tuple
* Frozenset
* Bytes set
* NoneType

#### Immutable objects

* Jab aap immutable object banate ho, Python usay memory mein ek fixed address par store
karta hai.
* Agar aap us value ko change karne ki koshish karte ho, toh naya object ban jaata hai, aur nayi
memory location assign hoti hai.

In [ ]:
a = 5
print(id(a)) # Let's say → 1001
a = a + 1 # New value
print(id(a)) # Now → 1002 (Different memory location)


# • a = 5 → Memory address: 1001
# • a = a + 1 → Python ne naya 6 object create kiya at 1002. a ab 1002 ko point karta hai.
# • Old 5 ab garbage collector handle karega (agar use mein nahi hai).

#### Mutable Objects

* Jab aap mutable object banate ho, usay ek address milta hai.
* Jab aap uski value change karte ho (add/remove/update), wohi memory location rehti hai, sirf
content change hota hai.

In [ ]:
my_list = [1, 2, 3]
print(id(my_list)) # Suppose → 2001
my_list.append(4)
print(id(my_list)) # Still → 2001 (Same address)

# my_list ban gaya at address 2001
# • Jab .append(4) kiya, toh content update hua, address change nahi hua

#### 1. **Numeric Types**

Python has three main numeric types:

##### a. **Integer (int)**

Whole numbers, positive or negative, without decimals.

In [4]:
num_int: int = 42

print(type(num_int)," num_int = ",num_int,)  # <class 'int'>

<class 'int'>  num_int =  42

##### b. **Floating-Point (float)**

Numbers with decimal points.

In [5]:
num_float: float = 3.14
#num_float: float = .14

print(type(num_float), " num_float = ", num_float)  # <class 'float'>

<class 'float'>  num_float =  3.14

##### c. **Complex (complex)**

Numbers with a real and imaginary part

In [6]:
num_complex: complex = 2 + 3j

print(type(num_complex), " num_complex = ", num_complex)  # <class 'complex'>

<class 'complex'>  num_complex =  (2+3j)

Complex numbers ka use un scenarios mein hota hai jahan real aur imaginary components ki zarurat hoti hai. Ye kuch common reasons hain jinke liye complex numbers use hote hain:

1. Electrical Engineering: Complex numbers AC circuits mein use hote hain, jahan voltage aur current ki magnitude aur phase ko represent karna hota hai.

2. Signal Processing: Complex numbers signals ko frequency domain mein represent karte hain, jaise Fourier Transform.

3. Quantum Mechanics: Physics mein complex numbers ka use wave functions aur quantum states ko represent karne ke liye hota hai.

4. Control Systems: Complex numbers stability aur dynamic systems ko analyze karte hain, jahan system ka behavior complex hota hai.

5. Mathematics: Complex numbers solutions provide karte hain jab real solutions exist nahi karte (jaise quadratic equations mein).

### 3. **Sequence**

##### a. **String (str)**

In [7]:
data: str = "hussain"
print(data)

hussain

A sequence of characters enclosed in quotes.

In [8]:
text_double: str  = "Hello, Python!" # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), " text_double   = ", text_double)    # <class 'str'>
print(type(text_single), " text_single   = ", text_single)    # <class 'str'>
print(type(text_multi), " text_multi    = ", text_multi)      # <class 'str'>
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  # <class 'str'>

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

* Double Quotes ("): Use when the string contains single quotes.
* Single Quotes ('): Use when the string contains double quotes.
* Triple Quotes (''' or """): Use for multi-line strings or docstrings.

#### b. **List (list)**
Lists are used to store multiple items in a single variable.

* List is a mutable data type.
* List is an unordered data type.
* List allows duplication of elements.

In [4]:
                          
            #         0      1       2           3
my_list_1: int = ['python', 'C#', 'javascript', "Java"] 
            #         -4     -3        -2         -1
print(my_list_1)

my_list_2: int = [1, 2, 3, "Java", 3.14, True]  # to Allow Different data types in list

['python', 'C#', 'javascript', 'Java']

#### **1: List Slicing**

* fetch single element calling index number

In [5]:
my_list_1: int = ['python', 'C#', 'javascript', "Java"] 
            #         -4     -3        -2         -1
print(my_list_1[0])

python

* fetch rang element calling index number **(start:end:step)**

In [ ]:
# using positive index
            #        0       1         2          3
my_list_1: list[str] = ['python', 'C#', 'javascript', "Java"] # Negitive index me left to right chly ha yani 0 sy 4
            #         -4     -3        -2         -1
print(my_list_1[0:4])


# using Negitive index
            #        0       1         2          3
my_list_2: int = ['python', 'C#', 'javascript', "Java"] # Negitive index me left to right chly ha yani -4 sy -1
            #         -4     -3        -2         -1
print(my_list_2[-3:-1]) 


# using Negitive index
my_list_3: int = ['python', 'C#', 'javascript', "Java"] 
            #         -4     -3        -2         -1
print(my_list_3[-1:-3:-1])

#### **2: List Methods**

In [15]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

 **1. Append()**

Add new element in last index

In [ ]:
my_list : list[str] = ['hussain', 'yasir', 'Ali', 'Zubair']
my_list.append('junaid')

print(my_list)

 **2. pop()**

 	Removes and returns the element at the specified index (or last element)

In [ ]:
my_list : list[str] = ['hussain', 'yasir', 'Ali', 'Zubair']

my_list.pop() # Default last index
my_list.pop(1) # specific index

print(my_list)

 **3. clear()**

Removes all elements from the list.and return blank list

In [ ]:
my_list : list[str] = ['hussain', 'yasir', 'Ali', 'Zubair']

my_list.clear() # Clear list

print(my_list)

 **4. count()**

Counts how many times a specific element appears

In [ ]:
my_list = [1, 2, 2, 3, 2]
print(my_list.count(2))  # Output: 3

 **5. extend()**

Adds all elements from another list (or iterable) to the end of the current list.

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)  # Output: [1, 2, 3, 4, 5]

 **6. index()**

Returns the index of the first occurrence of a specified element.

In [ ]:
my_list = ['a', 'b', 'c']
print(my_list.index('b'))  # Output: 1

 **7. insert()**

Inserts an element at a specific index in the list.

In [ ]:
my_list = [1, 2, 4]
my_list.insert(2, 3)  # Insert 3 at index 2
print(my_list)  # Output: [1, 2, 3, 4]

 **8. remove()**

Removes the first occurrence of a specific value from the list.

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)  # Removes the first 2
print(my_list)  # Output: [1, 3, 2]

 **9. reverse()**

Reverses the order of elements in the list.

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # Output: [3, 2, 1]

 **10. sort()**

 Sorts the list in ascending order (by default). You can also specify descending order.

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # Output: [1, 2, 3]

# For descending order:
my_list.sort(reverse=True)
print(my_list)  # Output: [3, 2, 1]

 **11. copy()**

 Creates a shallow copy (duplicate) of the list.

In [ ]:
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list)  # Output: [1, 2, 3]

#### c. **Tuple (Tuple)**
Tuples are used to store multiple items in a single variable.

* Tuples do Immutable.
* Tuples do allow duplicates.
* Tuples Ordered

In [ ]:
my_tuple = ('hussain', 'zain', 'yasir', 'junaid')
print(my_tuple[0:2])

#### **List Methods**

In [ ]:
[i for i in dir(tuple) if "__" not in i]

 **1. count()**

The count() method is used to count the number of occurrences of a specific element in the tuple.

In [ ]:
my_tuple = (10, 20, 20, 30, 20)
count_of_20 = my_tuple.count(20)
print(count_of_20)  # Output: 3

 **2. count()**

The index() method returns the first index (position) of the first occurrence of the specified element in the tuple.

In [ ]:
my_tuple = (10, 20, 30, 20, 40)
index_of_20 = my_tuple.index(20)
print(index_of_20)  # Output: 1

#### c. **Rang (rang)**

Represents a sequence of numbers.

In [ ]:
num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), " num_range = ", num_range.step)  # <class 'range'>

# rang with loop
for i in range(1, 10, 2): # we will study loops indepth in classes ahead
 print(i)

### 4. **Mapping**

#### **Dictionary** 
Dictionaries are used to store data values in key:value pairs

In [42]:
[i for i in dir(dict) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

* dictionary  is a unordered Collection 
* not Allow duplicate
* Mutable

In [ ]:
my_dict1 = {"name": "John", "age": 30, "city": "New York"}
print(my_dict1)  # Output: {'name': 'John', 'age': 30, 'city': 'New York'}

#### **1. pop()**
Removes and returns the value for the specified key

In [ ]:
my_dict2 = {"name": "John", "age": 30, "city": "New York"}
my_dict2.pop('name') # if your pop() blank so Error
print(my_dict2)

#### 2. **clear()**
Removes all items from the dictionary.

In [ ]:
my_dict2 = {"name": "John", "age": 30, "city": "New York"}
my_dict2.clear() # Clear All dict element and return empty dict
print(my_dict2)

#### 3. **copy**
Returns a shallow copy of the dictionary.

In [ ]:
my_dict2 = {"name": "John", "age": 30, "city": "New York"}

copied_dict = my_dict2.copy()
print("Original dictionary:", my_dict2)
print("Copied dictionary:", copied_dict)

#### 4. **fromkeys**
* fromkeys() ka use tab hota hai jab aapko ek nayi dictionary banani ho jisme aap existing keys ko use karte hain, aur unhe ek default value assign karte hain.

* Agar aapko values bhi copy karni ho, to copy() method ka use karein.

In [ ]:
# Original dictionary
original_dict = {"name": "John", "age": 30, "city": "New York"}

# `fromkeys()` ka istemal karke nayi dictionary banayi gayi jisme sab keys ka value 'Unknown' hoga
new_dict = dict.fromkeys(original_dict.keys(), 'Unknown')

# Nayi dictionary ko print karein
print(new_dict)

#### 4. **get**
Python mein get() method dictionary ke liye ek bohot useful method hai. Iska use aap tab karte hain jab aap ek dictionary mein kisi specific key ki value ko safe tareeqe se access karna chahte hain. get() method agar key exist karti hai to uski value return karta hai, agar key nahi milti to default value return karta hai (agar aapne specify ki ho).

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# 'age' key ki value get karna
age = my_dict.get("age")

# Output print karna
print(age)

#### 5. **items**
The items() method in Python is used with dictionaries to return a view object that displays a list of a dictionary's key-value pairs as tuples. This is useful when you want to iterate through both keys and values at the same time.

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Using items() to get key-value pairs
items = my_dict.items()

# Output the items
print(items)

#### 6. **keys**
The keys() method in Python is used with dictionaries to return a view object that displays all the keys in the dictionary. This is useful when you want to access just the keys of a dictionary without worrying about the associated values.

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Using keys() to get dictionary keys
keys = my_dict.keys()

# Output the keys
print(keys)

#### 7. **popitem**
The popitem() method in Python is used with dictionaries to remove and return the last key-value pair from the dictionary. This method is particularly useful when you need to remove an item and also need to know what was removed.

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Remove and return the last key-value pair
removed_item = my_dict.popitem()

# Output the removed item and the updated dictionary
print(f"Removed Item: {removed_item}")
print(f"Updated Dictionary: {my_dict}")

# output
# Removed Item: ('city', 'New York')
# Updated Dictionary: {'name': 'John', 'age': 30}

#### 8. **setdefault**
The setdefault() method in Python is used with dictionaries to retrieve the value for a given key if it exists, and if it doesn't exist, it will insert the key with a specified default value.

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Using setdefault() to get the value for 'age'
age = my_dict.setdefault("age", 25)

# Output the result
print(f"Value of 'age': {age}")
print(f"Updated Dictionary: {my_dict}")

# output
# Value of 'age': 30
# Updated Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

#### 9. **update**
The update() method in Python is used with dictionaries to update the dictionary with elements from another dictionary or from an iterable of key-value pairs. It allows you to add new key-value pairs or update the values of existing keys in the dictionary.

In [ ]:
# Original dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Dictionary to update with
update_dict = {"age": 35, "city": "Los Angeles", "gender": "Male"}

# Updating the original dictionary
my_dict.update(update_dict)

# Output the updated dictionary
print(my_dict)

#### 10. **values**
The values() method in Python is used with dictionaries to return a view object that displays a list of all the values in the dictionary. The values are returned in the order they were inserted into the dictionary (in Python 3.7 and later, the insertion order is guaranteed).

In [ ]:
# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Get all the values from the dictionary
values = my_dict.values()

# Output the result
print(values)

### 4. **Sets**
 #### a. **Set**
 Sets are used to store multiple items in a single variable.
* Creating a set using curly braces
* set is a collection of unordered and unique elements
* sets are unordered
* Mutable

In [64]:
[i for i in dir(set) if "__" not in i]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [65]:
my_set: set[set] = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)  # <class 'set'>

<class 'set'> my_set =  {1, 2, 33, 4, 5}

#### **1. add()**

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

#### **2. clear()**
* Removes all elements from the set, leaving an empty set.

In [ ]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

#### **3. copy()**
* Returns a shallow copy of the set.

In [ ]:
my_set = {1, 2, 3}
new_set = my_set.copy()
print(new_set)  # Output: {1, 2, 3}

#### **4. difference()**
* Returns a new set with elements that are in the first set but not in the second set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
diff = set1.difference(set2)
print(diff)  # Output: {1, 2}

#### **5. difference_update()**
* Removes elements from the set that are present in another set (updates the set in place).

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.difference_update(set2)
print(set1)  # Output: {1, 2}

#### **6. discard()**
* Removes an element from the set if it exists. If the element does not exist, no error is raised.

In [ ]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)  # Output: {1, 3}

# Discarding an element that doesn't exist (no error)
my_set.discard(5)
print(my_set)  # Output: {1, 3}

#### **7. intersection()**
* Returns a new set with elements that are common to both sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
common_elements = set1.intersection(set2)
print(common_elements)  # Output: {2, 3}

#### **8. intersection_update()**
* Updates the set with the intersection of itself and another set (modifies the set in place).

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection_update(set2)
print(set1)  # Output: {2, 3}

#### **9. isdisjoint()**
* Returns True if there are no common elements between the two sets (i.e., the sets are disjoint).

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
result = set1.isdisjoint(set2)
print(result)  # Output: True

set3 = {2, 3}
result = set1.isdisjoint(set3)
print(result)  # Output: False

#### **10. issubset()**
* Returns True if all elements of the set are contained within another set.

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
result = set1.issubset(set2)
print(result)  # Output: True

set3 = {1, 5}
result = set3.issubset(set2)
print(result)  # Output: False

#### **11. issuperset()**
* Returns True if the set contains all elements of another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
result = set1.issuperset(set2)
print(result)  # Output: True

set3 = {5, 6}
result = set1.issuperset(set3)
print(result)  # Output: False

#### **12. pop()**
* Removes and returns an arbitrary element from the set. Since sets are unordered, you can't specify which element will be removed.

In [ ]:
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(f"Removed element: {removed_element}")
print(my_set)  # Output: The set after pop operation, which may be different each time

#### **13. remove()**
* Removes a specific element from the set. If the element does not exist, a KeyError will be raised.

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}

# If the element does not exist, it raises an error:
# my_set.remove(5)  # Uncommenting this will raise KeyError

#### **14. symmetric_difference()**
* Returns a new set with elements that are in either of the sets but not in both.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff = set1.symmetric_difference(set2)
print(sym_diff)  # Output: {1, 2, 4, 5}

#### **15. symmetric_difference_update()**
* Updates the set with the symmetric difference of itself and another set (modifies the set in place).

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)  # Output: {1, 2, 4, 5}

#### **16. union()**
* Returns a new set with elements from both sets, removing duplicates.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

#### **17. update()**
* Adds elements from another set or iterable to the set (modifies the set in place).

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

 #### b. **Frozen Set (frozenset)**
 In Python, frozensets are similar to regular sets but with one key difference: frozensets are immutable. Once a frozenset is created, it cannot be modified. This means you can't add, remove, or update elements in a frozenset after it has been created.

In [67]:
[i for i in dir(frozenset) if "__" not in i]

['copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [68]:
frozen_set = frozenset([11, 2, 3, 4, 4, 5])
#frozen_set = frozenset(my_set)
print(type(frozen_set), " frozen_set = ", frozen_set)  # <class 'frozenset'>

<class 'frozenset'>  frozen_set =  frozenset({2, 3, 4, 5, 11})