### Loops in python

Loops are used to repeat a block of code multiple times. Python supports two types of loops:

#### üîÅ **1. for loop**
Used to iterate over a sequence (like a list, tuple, dictionary, string, or range).

In [ ]:
# Example: loop through a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
# Example: using range()
for i in range(5):
    print(i)

#### üîÅ **2. while loop**
Repeats as long as a condition is True.

In [ ]:
# Example: while loop
i = 0
while i < 5:
    print(i)
    i += 1

#### üîÅ Loop control statements

* break ‚Äì exits the loop early
* continue ‚Äì skips the current iteration and continues
* pass ‚Äì does nothing (used as a placeholder)

In [ ]:
for i in range(10):
    if i == 5:
        break   # stops loop at 5
    print(i)

In [ ]:
for i in range(10):
    if i % 2 == 0:
        continue  # skips even numbers
    print(i)

#### ‚úÖ **1. Looping through a list**

In [2]:
# List of fruits
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)

apple
banana
cherry

#### ‚úÖ **2. Looping through a tuple**

In [ ]:
# Tuple of numbers
numbers = (10, 20, 30)

for num in numbers:
    print(num)

#### ‚úÖ **Bonus: Loop with index using enumerate()**

In [3]:
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: cherry

#### **for loop with break (Skipping else)**

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
    if num == 3:
        print("Breaking the loop!")
        break
else:
    print("Loop completed successfully!")  # This will NOT run

#### **Nested Loops**

In [4]:
# Multiplication table
for outer in range(1, 6): # outer loop
    print(f"Multiplication table for {outer}:")
    for inner in range(1, 6): # nested inner loop
        print(f"{outer} * {inner} = {outer * inner}")
    print()  # Add a blank line after each row

Multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

Multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

Multiplication table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

Multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

#### **Loop Other Practice**

In [5]:
my_list : str = ['hussain', 'junaid','Hamza', 'Ali', 'Zubair']

for data in my_list[0:2]:
    print(data)

hussain
junaid

In [6]:
from typing import List, Dict

my_list: List[Dict[str, object]] = [
    {'name': 'hussain', 'age': 21},
    {'name': 'yasir', 'age': 22}
]

for row in my_list:
    data = row
    print(data)

{'name': 'hussain', 'age': 21}
{'name': 'yasir', 'age': 22}